In [3]:
import pyspark
import multiprocessing

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
spark.range(5).show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/09 11:13:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [4]:
nprocs = multiprocessing.cpu_count()

spark = (pyspark.sql.SparkSession.builder
        .master('local')
        .config('spark.jars.packages', 'mysql:mysql-connector-java:8.0.16')
        .config('spark.driver.memory', '4G')
        .config('spark.driver.cores', nprocs)
        .config('spark.sql.shuffle.partitions', nprocs)
        .appName('MySparkApplication')
        .getOrCreate())

22/09/09 11:18:30 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
import pyspark.sql.functions as F

In [6]:
import numpy as np
import pandas as pd
np.random.seed(456)

In [8]:
pandas_dataframe = pd.DataFrame(
    dict(n=np.arange(20),
        group=np.random.choice(list('abc'), 20))
)
pandas_dataframe

     n group
0    0     b
1    1     b
2    2     c
3    3     a
4    4     c
5    5     c
6    6     a
7    7     b
8    8     a
9    9     b
10  10     b
11  11     a
12  12     b
13  13     a
14  14     b
15  15     b
16  16     c
17  17     c
18  18     a
19  19     c

In [9]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: bigint, group: string]

In [10]:
df.show(5)

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
|  3|    a|
|  4|    c|
+---+-----+
only showing top 5 rows

In [14]:
df.show()

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
|  3|    a|
|  4|    c|
|  5|    c|
|  6|    a|
|  7|    b|
|  8|    a|
|  9|    b|
| 10|    b|
| 11|    a|
| 12|    b|
| 13|    a|
| 14|    b|
| 15|    b|
| 16|    c|
| 17|    c|
| 18|    a|
| 19|    c|
+---+-----+

In [16]:
df.describe()

DataFrame[summary: string, n: string, group: string]